@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  font-family: "Poppins", sans-serif;
}
/* Banner/ imgs */

.banner {
  background-image: url("../img/img2.jpg");
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  height: 70vh;
  background-size: cover;
  overflow: auto;
}

/* TEXT */
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.4;
  font-size: 1.2rem;
}

p {
  line-height: 1.5;
  color: #424a52;
}

h1 {
  font-size: 40px;
  line-height: 52px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-weight: 300;
}

.leader {
  word-wrap: break-word;
  font-weight: 200;
  font-size: 3.5em;
  line-height: 1.4;
}

.thin {
  font-weight: 300;
}

.pics {
  height: 232px;
  width: 232px;
  padding: 0;
  margin: 0;
}

.pics img {
  padding: 15px;
  border: 1px solid #ccc;
  background-color: #eee;
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
}

span {
  color: orange;
  font-weight: 600;
}

a {
  color: orangered;
}
a:hover,
.btn:hover {
  color: #dc3545;
  background-image: linear-gradient(to right top, #f8a402, #f69600, #f48800, #f17a00, #ee6b01);
}
/* UI elements */

#watch {
  /* font-size: 11px; */
  background-color: none !important;
}

ion-icon {
  font-size: 44px;
}

#watch:hover {
  color: orange !important;
  background-color: none !important;
}

.btn {
  text-transform: uppercase;
  cursor: pointer;
  font-size: 13px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  overflow-wrap: break-word;
  border-radius: 2em;
  transition: all 0.3s ease-in-out 0s;
}

/* FORM */
.bg-gradient {
  position: relative;
  background-image: linear-gradient(to right top, #f8a402, #f69600, #f48800, #f17a00, #ee6b01);
}

#ijaps,
#ijaps2 {
  position: absolute;
  z-index: 2;
  bottom: -5%;
  right: 5%;
  height: 329px;
  width: 244px;
  background-image: url("../img/ijaps.svg");
  background-repeat: no-repeat;
}

#ijaps2 {
  bottom: 19%;
}

.form-control {
  border: none;
  border-bottom: solid thin rgba(0, 0, 0, 0.2);
  height: 3.3em;
}

.activities {
  width: 80%;
  height: auto;
}

section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.lnr {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: -0.05em;
  stroke-width: 1;
}

.orange {
  color: white;
  background-color: rgb(246, 103, 37);
}

.aa {
  position: absolute;
  left: -2%;
  top: 5%;
  z-index: 2;
  width: 22%;
}

.bb {
  position: absolute;
  right: 2%;
  bottom: 15%;
  z-index: 2;
  width: 25%;
}

.cc {
  position: absolute;
  right: 8%;
  top: 0%;
  z-index: 2;
  width: 10%;
}

.dd {
  position: absolute;
  left: 0;
  bottom: 2%;
  z-index: 2;
}

.card {
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
}

.card:hover,
.card-body:hover {
  transform: scale(1);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
  background-color: #ffa5002b;
  color: white;
}

@media (max-width: 769px) {
  h1,
  .leader {
    font-size: 35px;
    line-height: 1em;
  }
}

@media (max-width: 376px) {
  #ijaps,
  #ijaps2,
  .aa,
  .bb,
  .cc,
  .dd {
    display: none;
  }
}

* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.lightbox {
  background-color: rgba(0, 0, 0, 0.8);
  overflow: scroll;
  position: fixed;
  display: none;
  z-index: 1;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.lightbox-container {
  position: relative;
  max-width: 960px;
  margin: 7% auto;
  display: block;
  padding: 0 3%;
  height: auto;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .lightbox-container {
    margin-top: 10%;
  }
}
@media screen and (max-width: 414px) {
  .lightbox-container {
    margin-top: 13%;
  }
}
.lightbox-content {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.7);
}
.lightbox-close {
  text-transform: uppercase;
  background: transparent;
  position: absolute;
  font-weight: 300;
  font-size: 12px;
  display: block;
  border: none;
  color: white;
  top: -22px;
  right: 3%;
}
.video-container {
  padding-bottom: 56.25%;
  position: relative;
  padding-top: 30px;
  overflow: hidden;
  height: 0;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
